.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  gap: 20px;
}

.main-container h2 {
  font-size: 2.5rem;
}

.main-container button {
  background-color: var(--button-background);
  border-radius: 5px;
  height: 40px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}